.container {
  position: relative;

  input {
    padding: 0 2.3rem;
    width: 42rem;
    height: 4.6rem;
    border-radius: 2.3rem;
    border: none;
    background: #f8f8f8;
    cursor: default;
  }
}