@use '@/assets/scss/variable' as v;

.container {
  gap: 2.3rem 0;

  .flex-box {
    padding: 0;
    background: none;
    gap: 0 1.2rem;
    align-items: flex-start;
  }

  .form-wrp {
    width: 72.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.9rem 1.6%;

    .form-box {
      position: relative;
      width: 49%;

      &.form-w100 {
        width: 100%;
      }

      &.form-w33 {
        width: 32%;
      }

      input {
        width: 100%;
        padding: 0 1.2rem;
        border-radius: 1rem;
      }

      .select-box {
        width: 100%;

        button {
          padding: 0 1.6rem;
          border-radius: 1rem;
        }
      }

      .input-text {
        position: absolute;
        bottom: 1.5rem;
        right: 1.2rem;
        color: #999;
      }

      &.button-box {
        position: relative;
        display: flex;
        flex-direction: row-reverse;

        button {
          width: 15.5rem;
          background: #fff;
          transition: background-color .3s;
        }

        .button-bg {
          position: relative;
          z-index: 1;
          
          &:hover {
            button {
              background: rgba(255, 255, 255, .88);
            }

            &::after {
              width: 107%;
              height: 107%;
            }
          }

          &::after {
            position: absolute;
            content: '';
            width: 96%;
            height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
            border-radius: 2.3rem;
            z-index: -1;
            filter: blur(10px);
            opacity: .75;
            transition: all .5s;
          }
        }
      }
    }
  }

  .result-wrp {
    width: 34.9rem;
    max-height: 80dvh;
    margin-top: -2rem;
    padding: 2rem 1.5rem;
    background: none;
    gap: 2.3rem 0;
    overflow-y: auto;

    .result-item-box {
      width: 29.9rem;
      position: relative;
      z-index: 1;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 98%;
        height: 98%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background: linear-gradient(45deg, #fa709a 0%, #fee140 100%);
        filter: blur(1rem);
        opacity: .75;
      }

      .result-item {
        padding: 1.2rem 1.2rem 1.8rem;
        background: #fff;
        border-radius: 2rem;

        .message-box {
          margin-bottom: 1.5rem;
          padding: 1.6rem 1.4rem;
          border: 0.1rem dashed #ccc;
          background: #f8f8f8;
          border-radius: 1rem;

          .txt-message {
            font-size: 1.4rem;
            line-height: 1.3;
            white-space: pre-line;
          }
        }

        .button-box {
          display: flex;
          flex-direction: row-reverse;

          .btn-re-submit {
            display: flex;
            height: auto;
            padding: 1rem 1.6rem;
            font-size: 1.4rem;
            color: #FA709A;
            border: 1px solid #FA709A;
            background: #fff;
            gap: 0 0.5rem;
          }
        }
      }
    }
  }
}