@use '@/assets/scss/variable' as v;

.label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;

  &-essential {
    padding-left: 0.2rem;
    color: v.$color-primary;
  }
}

.input {
  padding: 0 2.3rem;
  height: 4.6rem;
  background: v.$color-input-bg;
  border: none;
  border-radius: 2.3rem;

  &::placeholder {
    color: #999;
  }
}