.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.6rem;
  border-radius: 2rem;
  background: #fff;

  &.row {
    flex-direction: row;
  }

  &.justifyCenter {
    justify-content: center;
  }

  &.alignCenter {
    align-items: center;
  }
}